@font-face {
    font-family: Halant Reg;
    src: url('../fonts/Halant-Regular.ttf');
}
@font-face {
    font-family: Halant Med;
    src: url('../fonts/Halant-Medium.ttf');
}
@font-face {
    font-family: Shree Reg;
    src: url('../fonts/Shree\ Devanagari\ 714-Regular.ttf');
}