#Home {
    background-image: url('../images/home_bg.jpg');

    /* Fit Bg Img Entire Screen Height */
    height: 100vh;

    /* Fit Bg Img Entire Screen Width */
    width: 100%;

    /* Ensures Home Bg Img size does not get any smaller */
    min-height: 800px;

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Halant Light;
    src: url('../fonts/Halant-Light.ttf');
}

#Home > h1{
    font-family: Halant Light;
    font-size: 72px;
    color: white;
    letter-spacing: .1em;
    font-weight: 100;

    left: 0;
    line-height: 200px;
    margin-top: -125px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;   
}

#ContactUsButton {
    text-align: center;
    margin-top: 240px;
}

#OnHoverContact{
    height: px;
}