#NavBar {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#title-lynette {
    margin-top: 40px;
}

#title-skin-studio {
    margin-bottom: 20px;
}

#NavBar-links > li {
    /* Makes each Link on the same line */
    display: inline;

    /* Makes space between each link */
    margin-right: 20px;
}