@font-face {
    font-family: Shree Regular;
    src: url('../fonts/Shree\ Devanagari\ 714-Regular.ttf');
}
#NavBar {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 40px;
}

#navbar-title {
    margin-bottom: 20px;

    font-family: Shree Regular;
    font-size: 15px;
}

#NavBar-links > li {
    /* Makes each Link on the same line */
    display: inline;

    /* Makes space between each link */
    margin-right: 20px;
}