* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.lynette-brown {
    color: #862e08;
}

.debug-border {
    /* border: 1px solid black; */
}

.inline-list {
    /* Makes each Link on the same line */
    display: inline;

    /* Makes space between each link */
    margin-right: 20px;
}

/* For Nav. Bar + Scrolling Nav. Bar */
.title-lynette {
    letter-spacing: 0.23em;
    margin-bottom: 0;
}

.title-skin-studio {
    margin-top: 0;
    letter-spacing: 0.075em;
}